[package]
name = "web-frontend"
version = "0.1.0"
authors = ["Dominik Rosser <dominik.rosser@protonmail.ch>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
